<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505665422955-54aeqb2p2lk2s3b7ds2edn366e957qic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505665422955-54aeqb2p2lk2s3b7ds2edn366e957qic</string>
	<key>API_KEY</key>
	<string>AIzaSyAlIJSl_pBvM7tm6gG74hPsjnHonqD9B1s</string>
	<key>GCM_SENDER_ID</key>
	<string>505665422955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DocsApps.HallPass</string>
	<key>PROJECT_ID</key>
	<string>hallpass-2d182</string>
	<key>STORAGE_BUCKET</key>
	<string>hallpass-2d182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505665422955:ios:4340a97fc3146c9e7dd32e</string>
</dict>
</plist>